/* desktop */
@media screen and (min-width: 750px) {
max-width:100%;
}

/* mobile */


body {
	max-width: 100%;
	margin: 0;
	padding: 0;
}


/* header */
.header {
	display: flex;
}

.hlogo {
	order: 1;
	flex-grow: 1;
	text-align: right;
}

.htext {
	order: 2;
	flex-grow: 6;
	padding-left: 20px;
	float: right;
	font-size: 40px;
}



/* menu */
.menu {
	display: flex;
	justify-content: space-evenly;
	background-color: grey;
}




/* intro */
img.introimg {
	display: block;
	width: 50%;
	margin: auto;
}



/* about */ 
.about {
	display: flex;
	flex-wrap: nowrap;
	max-width: 100%;
	background-color: lightgreen;
}

div.pabout {
	display: flex;
	float: left;
	height:  auto;
	width: 100%;
}

div.aboutimg {
	display: inline-flex;
	height: 21vw;
	width: 20%;
	float: right;
}

img.aboutimgimg {
	width: auto;
	height: auto;
}



/* howitworks */ 




/* schedule */ 
.schedule {
	background-color: lightgreen;
}



/* testimonial */ 




/* footer */
.footer {
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100pc;
	background-color: darkgreen;
	justify-content: space-evenly;
}

